## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s="Hi there Sam!"
Y=s.split()
print(Y)

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet="Earth"
diameter=12742
print("The diameter of "+str(planet), "is",diameter,"kilometers.")

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
X=lst[3][1][2]
print(X)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
#TUPLE
#Tuple is immutable.
#The items in tuples are surrounded by parentheses( ). 
#Tuples consumes less memory.
#In tuple the implication of iterations is comparatively Faster.

#LIST
#Lists are mutable
#The items in lists are surrounded by square brackets [  ].
#Lists consume more memory
#In list the implication of iterations is Time-consuming

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [8]:
def domainGet(email):
    return email.split('@')[-1]

In [9]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [21]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

st = "Is there a dog here?"
findDog(st)

True

In [22]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [23]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [24]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [16]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [17]:
caught_speeding(81,False)

'Big Ticket'

In [18]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [19]:
employees = ["Harish", "Diwakar", "Sanjay", "Sathish", "Naveen", "Gowtham"]    
salary={}
for emp in employees:
    try:
       amount=int(input(f'Enter salary for {emp}: '))
       salary[emp]=amount
    except ValueError:
       print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure ',sum(salary.values()))

Enter salary for Harish: 25000
Enter salary for Diwakar: 30000
Enter salary for Sanjay: 45000
Enter salary for Sathish: 50000
Enter salary for Naveen: 100000
Enter salary for Gowtham: 80000
{'Harish': 25000, 'Diwakar': 30000, 'Sanjay': 45000, 'Sathish': 50000, 'Naveen': 100000, 'Gowtham': 80000}
Total Salary Expenditure  330000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [20]:
dic1 = {'Empid': 1001, 'empname': 'Harini', 'Basicpay' : 100000 }
dic2 = {'DeptName': 'Test engineer','DeptId': 106, }

dic3 = {**dic1,**dic2}
print (dic3)

{'Empid': 1001, 'empname': 'Harini', 'Basicpay': 100000, 'DeptName': 'Test engineer', 'DeptId': 106}