> **EXERCISES**

**1.What is 7 to the power of 4?**

In [1]:
7**4

2401

**2.Split this string:**

**s = "Hi there Sam!"**

**into a list.**

In [2]:
s = "Hi there Sam!"
result = s.split()
print(result)

['Hi', 'there', 'Sam!']

**3.Split this string:**

**s = "Hi there dad!"**

**into a list.**

In [3]:
s = "Hi there dad!"
result = s.split()
print(result)

['Hi', 'there', 'dad!']

**4.Given the variables:**

**planet = "Earth"**
**diameter = 12742**

**Use .format() to print the following string:**

**The diameter of Earth is 12742 kilometers.**

In [16]:
print("The diameter of {planet} is {diameter} km.".format(planet = "Earth",
diameter = 12742))
print("The diameter of {} is {} km.".format("Earth","12742"))

The diameter of Earth is 12742 km.
The diameter of Earth is 12742 km.

**5.Given this nested list, use indexing to grab the word "hello"**

**lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]**

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

**6.Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

**d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}**

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

**7.What is the main difference between a tuple and a list?**

In [ ]:
# tuple is immutable where list is mutable

**8.Create a function that grabs the email website domain from a string in the form:**

**user@domain.com**

**So for example, passing "user@domain.com" would return: domain.com**

In [17]:
def getDom(email):
    return email.split('@')[-1]
getDom('user@domain.com')

'domain.com'

In [8]:
def getDomain(email):
    return email.split('@')[1]
getDomain('user@domain.com')

'domain.com'

**9.Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

In [18]:
def findDog(string):
    temp = string.split()
    return temp
result = findDog('will check if there is dog in this line')
if "dog" in result:
   print("True")

True

In [19]:
result = findDog('will check if there is animal in this line')
if "dog" in result:
   print("True")
else:
  print("False")

False

**10.Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.**

In [21]:
str = " I saw a big golden dog , one small pink dog and 4 brown dogs"
count = 0
result = str.split()
for i in result:
  if i == "dog":
    count += 1
print(count)

2

**11.You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. ***

In [28]:
def caughtSpeeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caughtSpeeding(110,False))
print(caughtSpeeding(60,True))
print(caughtSpeeding(50,True))

Big Ticket
No Ticket
No Ticket

**11.Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.**

In [29]:
emps = ["a", "b", "c", "d", "e"]    
sal = {}
for emp in emps:
       amount = int(input("Enter salary:"))
       sal[emp]=amount
for emp in emps:
   print("The salary of",emp,"is",sal[emp])
amts = sal.values()
exp = 0
for i in amts:
  exp += i
print("Total Expenditure:",exp)

Enter salary:1000
Enter salary:400
Enter salary:50000
Enter salary:3450
Enter salary:1000000
The salary of a is 1000
The salary of b is 400
The salary of c is 50000
The salary of d is 3450
The salary of e is 1000000
Total Expenditure: 1054850

In [30]:
dictOne = { 'Empid': 1234,'Empname': 'a', 'Basicpay': 1500}
dictTwo = {'DeptName': 'ECE', 'Deptid':10}
dictThree = {**dictOne,**dictTwo}
print(dictThree)

{'Empid': 1234, 'Empname': 'a', 'Basicpay': 1500, 'DeptName': 'ECE', 'Deptid': 10}