## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
result = s.split()
print(result)

['Hi', 'there', 'Sam!']

In [ ]:
s = "Hi there dad!"
result = s.split()
print(result)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
print("The diameter of {planet} is {diameter} kilometers.".format(planet = "Earth",
diameter = 12742))

The diameter of Earth is 12742 kilometers

In [ ]:
print("The diameter of {} is {} kilometers.".format("Earth","12742"))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# tuple is immutable where list is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def getDomain(email):
    return email.split('@')[1]
getDomain('user@domain.com')

'domain.com'

In [ ]:
def getDomain(email):
    return email.split('@')[-1]
getDomain('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [1]:
def findDog(string):
    temp = string.split()
    return temp
result = findDog('Whether do u have a dog at your home')
if "dog" in result:
   print("True")

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [10]:
string = " I saw a big brown color dog and two small black color dog"
count = 0
result = string.split()
for i in result:
  if i == "dog":
    count += 1
print(count)

2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [5]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
caught_speeding(90,False)

'Big Ticket'

In [4]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
caught_speeding(70,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [17]:
employees = ["Gayu", "Dev", "Sona", "Nithesh", "Gowtham"]    
salary = {}
for employee in employees:
       amount = int(input("Enter salary:"))
       salary[employee]=amount
for employee in employees:
   print("The salary of",employee,"is",salary[employee])
amounts = salary.values()
expenditure = 0
for i in amounts:
  expenditure += i
print("Total Expenditure:",expenditure)

Enter salary:5000
Enter salary:2000
Enter salary:1500
Enter salary:2000
Enter salary:1000
The salary of Gayu is 5000
The salary of Dev is 2000
The salary of Sona is 1500
The salary of Nithesh is 2000
The salary of Gowtham is 1000
Total Expenditure: 11500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [21]:
dictOne = { 'Empid': 1234,'Empname': 'gayu', 'Basicpay': 1500}
dictTwo = {'DeptName': 'ECE', 'Deptid':10}
dictThree = {**dictOne,**dictTwo}
print(dictThree)

{'Empid': 1234, 'Empname': 'gayu', 'Basicpay': 1500, 'DeptName': 'ECE', 'Deptid': 10}